@font-face {
  font-family:'Roboto';
  src:local("Roboto");
}
*{
  margin:0;
}
body{
  background:grey;
  font-family:'Roboto',"Arial";
  /* font-family:arial; */
  /* font-family:"Times New Roman"; */
  /* font-family:'Roboto'; */
  font-style:normal;
}
main{
  width:1440px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}
header{
/* display:flex;
  max-width:100%;
  justify-content: space-around; */
  min-height: calc(100vh - 2px);
}
nav{
  display:grid;
  max-width:100%;
  width:1440px;
  align-items: center;
  grid-template-columns:repeat(auto-fit,minmax(70px, 170px));
  justify-content: space-around;
  background:white;
  align-items: center;
  justify-items: center;
  font-weight: 400;
}
header nav ul{
  max-width:100%;
}
header nav ul li{
  display:inline-block;
  max-width:100%;
  width:90px;
}
header nav ul li span{
  display:inline-block;
  width:3px;
  height:3px;
  border-bottom:2px solid black;
  border-right:2px solid black;
  transform: rotate(45deg);
  margin:3%;
}
header nav ul{
  width:570px;
  max-width:100%;
  /* background:green; */
}
@media(max-width:500px){
  header nav ul{
    width:70px;
    /* background:red; */
    display:none;
  }
}
/*  900px */
@media(min-width:900px){
  header nav ul{
    width:470px;
    /* background:red; */
  }
  nav{
    grid-template-columns:repeat(auto-fit,minmax(70px, 1fr));
  }

}
header nav strong{
  font-size:30px;
  width:170px;
  max-width:100%;
}
header nav strong sup{
  font-size:10px;
}
header nav button{
  width:163px;
  height:54px;
  max-width:100%;
  background: black;
  color:white;
  border-radius: 7px;
  font-size:20px;
}
.firstWindow{
  min-height: calc(100vh - 70px);
  display:grid;
  width:100%;
  max-width: 1440px;
  grid-template-columns:repeat(auto-fit,600px);
  background:rgba(255,255,255,1);
  justify-content: flex-end;
  align-items:center;
}
@media(max-width:700px){
  .firstWindow{
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  }
  .firstWindow div:nth-of-type(2) img{
    left:0px;
  }

}
@media(min-width:700px){
  /* больше семиста */
  .firstWindow div:nth-of-type(1) div{
    max-width:393px;
  }
}
@media(max-width:1210px){
  .firstWindow{
    justify-content: center;
  }

}
@media(min-width:1210px){
  /* .firstWindow div:nth-of-type(1){
    justify-content:start;
  } */
}
.firstWindow .right{
  background:coral;
}

.firstWindow div:nth-of-type(1) h1{
  display:inline-grid;
  max-width:436px;
  width: 100%;
}
.firstWindow div:nth-of-type(1) p{
  max-width:435px;
  width: 100%;
}
.firstWindow div:nth-of-type(1) div{
  display:grid;
  grid-template-columns: repeat(auto-fit, 178px); /* repeat(auto-fit, 100px) */
  max-height:110px;;
  /* background: green; */
  justify-content: space-around;
  width:100%;
}
.firstWindow div:nth-of-type(1){
  display:inline-grid;
  min-height:208px;
  align-items: center;
  /* justify-content: center; */
}
.firstWindow div:nth-of-type(1) div button{
   margin-right:15px;
   max-width:178px;
   height:54px;
   width: 100%;
   background: rgba(249, 198, 0, 1);
   border: 1px solid rgba(249, 198, 0, 1);
   border-radius: 3px;
}
  .firstWindow div:nth-of-type(1) div button:nth-of-type(2){
    background:none;
  }
.firstWindow div:nth-of-type(2){
  display:grid;
  align-items: center;
  /* max-width:600px; */
  width:100%;
  height:100%;
  background:rgba(249, 198, 0, 1) url('img/vector.svg');
  background-position: bottom;
  background-repeat: no-repeat;
}
.firstWindow div:nth-of-type(2) img{
  max-width: 100%;
  position: relative;
  right:120px;
}
/* SECTION AND FOOTER  */
article{
  display:grid;
  justify-items:center;
  background:white;
  max-width:1440px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
article section{
  display:grid;
  /* justify-content: center; */
  justify-items: center;
  width:100%;
}
article section p{
  margin:1%;
  width:calc(100% - 1%);
}
article section h1{
  font-size: 42px;
  max-width:574px;
  width:100%;
  text-align: center;
}

article section:nth-of-type(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(100px,500px));
  max-width:1378px;
  width:calc(100% - 2px);
  height:494px;
  background:rgba(81, 206, 188, 1);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  align-content:center;
}
@media(max-width:1265px){
  article section:nth-of-type(2){
    max-width:100%;
    /* background: green; */
  }
}
article section:nth-of-type(2) img{
  max-width:678px;
  width:calc(100% - 30px);
}
articcle section:nth-of-type(2) div p{   /* lYFt */
  width:100%;
  max-width: 1440px;
}
article section:nth-of-type(3){
  /* background: orange; */
  min-height: 750px;
  width:100%;
}
article section:nth-of-type(3) h3{
  max-width:711px;
  width:100%;
  font-size:34px;
}
article section:nth-of-type(3) img{
  max-width: 911px;
  width:100%;
}
article section:nth-of-type(3) button{
  background: rgba(249, 198, 0, 1);
  width:163px;
  height:54px;
  border-radius: 4px;
}

/* SLIDE FOUR  */
article section:nth-of-type(4){
  width:100%;
  min-height: 500px;
  overflow: visible;
  height:100%;
}
/* article section:nth-of-type(4) div{ */
body > main > article > section:nth-child(4) > div{
  max-width: 1260px;
  min-height:537px;
  height:100%;
  border-radius: 10px;
  background:rgba(189, 120, 240, 1);
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(150px,500px));
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media(min-width:1340px){
  article section:nth-of-type(4) div{
    width: 1160px;
    height:100%;
  }
  /* article section:nth-of-type(4) img{ */
    body > main > article > section:nth-child(4) > div > img{
    right:180px;
    height:100%;
  }
}
article section:nth-of-type(4) img{
  position:relative;
  right:115px;
  width:100%;
  max-width: 562px;
}
body > main > article > section:nth-child(4) > div > div >h3{
/* article section:nth-of-type(4) div + div h3{ */
  max-width: 485px;
  width:100%;
  height:100%;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
}
body > main > article > section:nth-child(4) > div > div >p{
/* article section:nth-of-type(4) div div p{ */
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  min-height: 56px;
  height:100%;
  max-width: calc(550px - 0px);
  width:calc(100% - 10px);
  /* TYT LUFT */
}
body > main > article > section:nth-child(4) > div > div{
  max-width:500px;
  width:100%;
}
@media(max-width:500px){
  body > main > article > section:nth-child(4) > div > div{
    max-width:300px;
    width:100%;
    min-height:350px;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* SECTION FIVE  */
article section:nth-of-type(5){
  margin-top:5%;
  width:100%;
  max-width:1440px;
  display:grid;
  align-content: center;
  justify-content: start;
  align-items: normal;
  justify-items: start;
  min-height: 300px;
}
article section:nth-of-type(5) h2{
  width:calc(100% - 6%);
  max-width: calc(593px - 6%);
  margin-left: 3%;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.41999998688697815px;
  text-align: left;

}
article section:nth-of-type(5) span{
  width:calc(100% - 6%);
  max-width: calc(593px - 6%);
  margin-left: 3%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.399999976158142px;
  text-align: left;

}
article section:nth-of-type(5) p{
  width:calc(100% - 6%);
  max-width: calc(593px - 6%);
  margin-left: 3%;
  height: 144px;
  border-radius: nullpx;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* SECTION SIX  */
article section:nth-of-type(6){
  width:100%;
  max-width:1300px;
  background: orange;
}
article section:nth-of-type(6) div{
  min-height:300px;
  /* background: yellow; */
}
article section:nth-of-type(6) div img{
  width:40px;
}
article section:nth-of-type(6) img{
  max-width: 513px;
  width:100%;
}



/* FOOTER */
footer{
  max-width: 1440px;
  width:100%;
  background: rgba(11, 35, 48, 1);
  color:white;
  min-height:100px;
}
footer section:nth-of-type(1){
  min-height:423px;
  width:100%;
}
footer section:nth-of-type(1) h3{
  font-family: Roboto;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  min-height: 48px;
  max-width: 609px;
  width:100%;
}
footer section:nth-of-type(1) p{
  max-width:642px;
  width:100%;
}
footer section:nth-of-type(2){
  background: rgba(11, 35, 48, 1);
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  width:100%;
  align-items:start;
  min-height: 100px;
}
@media(max-width:850px){
  footer section:nth-of-type(2){
    min-height: 590px;
  }
}
@media(max-width:550px){
  footer section:nth-of-type(2){
    min-height: 890px;
  }
}
footer section button{
  background: rgba(249, 198, 0, 1);
  height: 54px;
  max-width: 163px;
  width:100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  color: rgba(11, 35, 48, 1);
}
footer section span{
  background: rgba(55, 83, 97, 1);
  width:100%;
  max-width:1375.94px;
  height:1px;
}
footer section ul{
  margin:3%;
}
footer section ul li{
  list-style:none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}
footer section ul li:nth-of-type(1){
  color:yellow;
}
footer div{
  display:grid;
  max-width: 1440px;
  width:100%;
  /* display:inline-block; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
@media(max-width:520px){
  footer div{
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr));

  }
}

/* они похоже вообще не работают!!! */
footer section div img{
  width:100%;
  max-width: 30px;
  /* background: green; */
}
